.icon-address,
.icon-bulb,
.icon-c-email-h,
.icon-c-email,
.icon-c-name-h,
.icon-c-name,
.icon-c-phone-h,
.icon-c-phone,
.icon-c-resize-h,
.icon-c-resize,
.icon-cancel,
.icon-clock,
.icon-email,
.icon-f-address,
.icon-f-email,
.icon-f-phone,
.icon-facebook,
.icon-late,
.icon-marker,
.icon-phone,
.icon-pinterest,
.icon-stamp,
.icon-twitter,
.icon-vision,
.icon-quote {
	background-image: url(img/sprite.png) ;
}

.icon-address {
	width: 19px;
	height: 24px;
	background-position: 0 -0px;
}

.icon-bulb {
	width: 51px;
	height: 51px;
	background-position: 0 -24px;
}

.icon-c-email.hover {
	width: 16px;
	height: 11px;
	background-position: 0 -75px;
}

.icon-c-email {
	width: 16px;
	height: 11px;
	background-position: 0 -86px;
}

.icon-c-name.hover {
	width: 14px;
	height: 16px;
	background-position: 0 -97px;
}

.icon-c-name {
	width: 14px;
	height: 16px;
	background-position: 0 -113px;
}

.icon-c-phone.hover {
	width: 12px;
	height: 16px;
	background-position: 0 -129px;
}

.icon-c-phone {
	width: 12px;
	height: 16px;
	background-position: 0 -145px;
}

.icon-c-resize.hover {
	width: 15px;
	height: 15px;
	background-position: 0 -161px;
}

.icon-c-resize {
	width: 15px;
	height: 15px;
	background-position: 0 -176px;
}

.icon-cancel {
	width: 53px;
	height: 53px;
	background-position: 0 -191px;
}

.icon-clock {
	width: 20px;
	height: 20px;
	background-position: 0 -244px;
}

.icon-email {
	width: 20px;
	height: 16px;
	background-position: 0 -264px;
}

.icon-f-address {
	width: 22px;
	height: 29px;
	background-position: 0 -280px;
}

.icon-f-email {
	width: 24px;
	height: 18px;
	background-position: 0 -309px;
}

.icon-f-phone {
	width: 21px;
	height: 28px;
	background-position: 0 -327px;
}

.icon-facebook {
	width: 26px;
	height: 26px;
	background-position: 0 -355px;
}

.icon-late {
	width: 54px;
	height: 53px;
	background-position: 0 -381px;
}

.icon-marker {
	width: 26px;
	height: 46px;
	background-position: 0 -434px;
}

.icon-phone {
	width: 17px;
	height: 23px;
	background-position: 0 -480px;
}

.icon-pinterest {
	width: 26px;
	height: 26px;
	background-position: 0 -503px;
}

.icon-stamp {
	width: 71px;
	height: 70px;
	background-position: 0 -529px;
}

.icon-twitter {
	width: 27px;
	height: 21px;
	background-position: 0 -599px;
}

.icon-vision {
	width: 67px;
	height: 67px;
	background-position: 0 -620px;
}

.icon-quote {
	width: 24px;
	height: 24px;
	background-position: 0 -687px;
}
