$primary: #642e8c;
$primary-weak: rgba(100, 46, 140, 0.52);
$contrast-blue: #1cb7ec;
$grey: #777777;
$grey-dark: #595959;
$grey-darker: #393939;
$grey-light: #c4c4c4;
$grey-section: #efefef;
$divider-color: #cacaca;
$placeholder: #a2a2a2;
$input: #dbdbdb;
$white: #fff;
$subwhite: #f8f8f8;



$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
