.section-hero {
	height: 576px;
	overflow: hidden;


		@media screen and (max-width:760px) {
			height: 400px;
		}

		@media screen and (max-width:500px) {
			height: 325px;
		}

		.site-wrap {
			overflow: hidden;
		}

		.slides {
			height: 100%;
		}
}

.slide.first {
	background: url(img/hero-bg.jpg) 50% 25%;
	background-size: cover;
}
.slide.second {
	background: url(img/facials-bg.jpg) 50% 35%;
	background-size: cover;
}
.slide.third {
	// background: url(img/threading-bg.jpg) 50% 25%;
	background: url(img/hair-removal-bg.jpg) 50% 25%;
	background-size: cover;
}

.slides {
	position: relative;
}

.slide {
	background-size: cover;
	// width: 100%;
	width: 100vw;
	height: 100%;
	margin-top: -16px;
	position: relative;
	float: left;

	@media screen and (max-width:760px) {
		margin-top: -10px;
	}

		.site-wrap {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}

}

.skippr-nav-container {
	display: none;
}


.semi-hero {
	background: url(img/contact-bg.jpg) 50% 25%;
	background-size: cover;
	width: 100%;
	height: 294px;

		h1 {
			line-height: .8em;

				@media screen and (max-width:460px) {
					line-height: .6em;
				}
		}

		h2 {
			// line-height: 2.2em;
			margin-top: 16px;
		}
}