.section-services-intro {
	height: 430px;
	width: 100%;

		ul {
			margin: 25px auto 0;
			width: 90%;
			max-width: 1000px;
			clear: both;
			height: auto;
			overflow: hidden;
			display: table;
			text-align: center;

				li {
					text-align: center;
					// float: left;
					display: inline-block;
					font-size: 17px;
					margin-bottom: 5px;
					position: relative;
					-webkit-hyphens: auto;
					-moz-hyphens: auto;
					-ms-hyphens: auto;
					hyphens: auto;


						// @media screen and (max-width:760px) {
						// 	font-size: 15px;
						// 	// display: inline-block;
						// 	// float: none;
						// }


						&:after {
							content: '·';
							position: absolute;
							left: 7px;
							font-size: 1.8em;
							line-height: 17px;
							color: $primary;
						}

						a, p {
							margin-left: 22px;
							text-align: center;
						}

						&.first a{margin-left: 0;}
						&.first:after {content: '';}
				}
		}
}


.service {
	height: 461px;
	border-top: 1px solid $divider-color;
	position: relative;

		@media screen and (max-width:500px) {
			height: 560px;
		}

		@media screen and (max-width:360px) {
			height: 640px;
		}

		.site-wrap,
		.different-site-wrap {
			height: 100%;
		}

		.vertical-align {
			height: auto;
			overflow: auto;
		}

		h6, 
		> p {
			text-align: left;
		}

		.button {
			float: left;
		}

		&:nth-child(2n) {

			h6,
			p {
				text-align: right;
			}

			p {
				float: right;
			}

			.button {
				float: right;
				clear: both;

				p {text-align: center;}
			}
		}
}

.service-desc {
	margin: 20px 0 28px;
	width: 100%;
	max-width: 485px;
	line-height: 20px;

		span {
			font-weight: 700;

			a {color: #000;}
		}

		span.smaller {
			font-size: 13px;
			font-weight: 400;
		}
}

#hair-threading p{
	color: #f4f4f4;
	font-weight: 300;
}

.service .left,
.service .right {
			@media screen and (max-width:500px) {
				width: 90%;
				margin: 0 auto;

				h6,
				> p,
				.button {
					text-align: left;
					float: none;
				}
			}
}




.service:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 1;
	background-size: cover !important;
}

#facials:after {
	background: url(img/facials-bg.jpg) 50%;

		@media screen and (max-width:1000px) {
			opacity: .5;
		}
}

#acne-facials:after {
	background: url(img/anti-aging-bg.jpg) 50%;

		@media screen and (max-width:1000px) {
			opacity: .35;
		}
}

#anti-aging:after {
	background: url(img/red-carpet-bg.jpg) 100% 50%;

		@media screen and (max-width:1000px) {
			opacity: .35;
		}
}

#red-carpet:after {
	background: url(img/skin-bg.jpg) 50%;
		@media screen and (max-width:850px) {
			opacity: .35;
		}
}

#skin-rejuvenation:after {
	background: url(img/skin-bg.jpg) 50%;
}

#microbermabrasion:after {
	background: url(img/clinical-bg.jpg) 100%;

		@media screen and (max-width:900px) {
			opacity: .4;
		}
}

#clinical:after {
	// background: url(img/clinical-bg.jpg) 100%;

		@media screen and (max-width:900px) {
			opacity: .4;
		}
}

#new-light:after {
	background: url(img/tightening-bg.jpg) 50%;

		@media screen and (max-width:760px) {
			background-position: 100% 50%;
			opacity: .5;
		}
}

#treatment:after {
	background: url(img/hair-removal-bg.jpg) 50%;

		@media screen and (max-width:760px) {
			background-position: 60%;
		}
}

#lase-one:after {
	background: url(img/lase-bg.jpg) #f4f4f4 50%;
	background-size: auto !important;
	background-repeat: no-repeat;

		@media screen and (max-width:1000px) {
			background-position: 20%;
		}

		@media screen and (max-width:760px) {
			background-position: 5%;
			opacity: .5;
		}
}

#hair-threading:after {
	background: url(img/threading-bg.jpg) 50%;
	z-index: 0;

		@media screen and (max-width:460px) {
			background-position: 75%;
			opacity: .3;
		}
}

#hair-threading {
	background: #000;

		.site-wrap {
			position: relative;
			z-index: 1;
		}
}








